@import url('https://fonts.googleapis.com/css?family=Roboto');

/* src/App.css */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: black;

  .logoHeading {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.10rem;
    color:white;
  }

  .logoSubheading {
    font-size: 1.1em;
    color:lightgray;
    text-align: center;
    margin: 0;
  }
  
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-image {
  margin-right: 20px;
  width: 15%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  line-height: 1.25rem;
  text-align: left;
  margin-bottom: 1.5rem;
}